.margin-bottom(@margin){
    -webkit-margin-bottom: @margin;
    -moz-margin-bottom: @margin;
    -o-margin-bottom: @margin;
    margin-bottom: @margin;
}
.z-index(@index){
    -webkit-z-index: @index;
    -moz-z-index: @index;
    -o-z-index: @index;
    z-index: @index;
}
.animation-name(@name){
    -webkit-animation-name: @name;
    -moz-animation-name: @name;
    -o-animation-name: @name;
    animation-name: @name;
}
.animation-duration(@duration){
    -webkit-animation-duration: @duration;
    -moz-animation-duration: @duration;
    -o-animation-duration: @duration;
    animation-duration: @duration;
}
.visibility(@visibility){
    -webkit-visibility: @visibility;
    -moz-visibility: @visibility;
    -o-visibility: @visibility;
    visibility: @visibility;
}
.letter-spacing(@spacing){
    -webkit-letter-spacing: @spacing;
    -moz-letter-spacing: @spacing;
    -o-letter-spacing: @spacing;
    letter-spacing: @spacing;
}
.transition(@transition){
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
.text-transform(@transform){
    -webkit-text-transform: @transform;
    -moz-text-transform: @transform;
    -o-text-transform: @transform;
    text-transform: @transform;
}
.transform(@transform){
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}
.line-height(@height){
    -webkit-font-height: @height;
    -moz-font-height: @height;
    -o-font-height: @height;
    font-height: @height;
}
.font-family(@family){
    -webkit-font-family: @family;
    -moz-font-family: @family;
    -o-font-family: @family;
    font-family: @family;
}
.font-size(@size){
    -webkit-font-size: @size;
    -moz-font-size: @size;
    -o-font-size: @size;
    font-size: @size;
}
.border-bottom(@border){
    -webkit-border-bottom: @border;
    -moz-border-bottom: @border;
    -o-border-bottom: @border;
    border-bottom: @border;
}
.border-radius(@radius){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.width(@width){
    -webkit-width: @width;
    -moz-width: @width;
    -o-width: @width;
    width: @width;
}
.bg-color(@color){
	-webkit-background-color: @color;
    -moz-background-color: @color;
    -o-background-color: @color;
    background-color: @color;
}
.border-color(@color){
    -webkit-border-color: @color;
    -moz-border-color: @color;
    -o-border-color: @color;
    border-color: @color;
}
.border(@border){
    -webkit-border: @border;
    -moz-border: @border;
    -o-border: @border;
    border: @border;
}
.border-bottom(@border){
    -webkit-border-bottom: @border;
    -moz-border-bottom: @border;
    -o-border-bottom: @border;
    border-bottom: @border;
}
.table-layout(@layout){
    -webkit-table-layout: @layout;
    -moz-table-layout: @layout;
    -o-table-layout: @layout;
    table-layout: @layout;
}
.overflow-x(@overflow){
    -webkit-overflow-x: @overflow;
    -moz-overflow-x: @overflow;
    -o-overflow-x: @overflow;
    overflow-x: @overflow;
}
.overflow-y(@overflow){
    -webkit-overflow-y: @overflow;
    -moz-overflow-y: @overflow;
    -o-overflow-y: @overflow;
    overflow-y: @overflow;
}
.vertical-align(@align){
    -webkit-vertical-align: @align;
    -moz-vertical-align: @align;
    -o-vertical-align: @align;
    vertical-align: @align;
}
.box-shadow(@attributes: 0 0 5px 0 black){
	-webkit-box-shadow: @attributes;
    -moz-box-shadow: @attributes;
    -o-box-shadow: @attributes;
    box-shadow: @attributes;
}
.background-image(@image){
    -webkit-background-image: @image;
    -moz-background-image: @image;
    -o-background-image: @image;
    background-image: @image;
}
.height(@height){
	-webkit-height: @height;
    -moz-height: @height;
    -o-height: @height;
    height: @height;
}
.font-color(@color){
	-webkit-color: @color;
    -moz-color: @color;
    -o-color: @color;
    color: @color;
}
.padding(@padding){
	-webkit-padding: @padding;
    -moz-padding: @padding;
    -o-padding: @padding;
    padding: @padding;
}
.font-weight(@weight){
	-webkit-font-weight: @weight;
    -moz-font-weight: @weight;
    -o-font-weight: @weight;
    font-weight: @weight;
}
.margin(@margin){
	-webkit-margin: @margin;
    -moz-margin: @margin;
    -o-margin: @margin;
    margin: @margin;
}
.position-top(@top){
	-webkit-top: @top;
    -moz-top: @top;
    -o-top: @top;
    top: @top;
}
.text-align(@align){
	-webkit-text-align: @align;
    -moz-text-align: @align;
    -o-text-align: @align;
    text-align: @align;
}
.display(@display){
	-webkit-display: @display;
    -moz-display: @display;
    -o-display: @display;
    display: @display;
}
.text-decoration(@decoration){
	-webkit-text-decoration: @decoration;
    -moz-text-decoration: @decoration;
    -o-text-decoration: @decoration;
    text-decoration: @decoration;
}
.font-size(@size){
	-webkit-font-size: @size;
    -moz-font-size: @size;
    -o-font-size: @size;
    font-size: @size;
}
.font-style(@style){
    -webkit-font-style: @style;
    -moz-font-style: @style;
    -o-font-style: @style;
    font-style: @style;
}
.cursor(@cursor){
	-webkit-cursor: @cursor;
    -moz-cursor: @cursor;
    -o-cursor: @cursor;
    cursor: @cursor;
}
.opacity(@opacity){
	-webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    -o-opacity: @opacity;
    opacity: @opacity;
}